<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>GATF - Test Reports</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Page-Level Plugin CSS - Tables -->
		<link href="css/plugins/dataTables/dataTables.min.css" rel="stylesheet">
		<!--link href="css/plugins/dataTables/dataTables.tableTools.css" rel="stylesheet" -->
		
		
		<style>
			.flot-x-axis div.flot-tick-label { 
				/* Rotate Axis Labels */
				transform: translateX(50%) rotate(20deg); /* CSS3 */
				transform-origin: 0 0;
				
				-ms-transform: translateX(50%) rotate(20deg); /* IE */
				-ms-transform-origin: 0 0;

				-moz-transform: translateX(50%) rotate(20deg); /* Firefox */
				-moz-transform-origin: 0 0;

				-webkit-transform: translateX(50%) rotate(20deg); /* Safari and Chrome */
				-webkit-transform-origin: 0 0;

				-o-transform: translateX(50%) rotate(20deg); /* Opera */
				-o-transform-origin: 0 0;
			}

			#wrapper {
				width: 100%;
			}

			#page-wrapper {
				padding: 0 15px;
				min-height: 568px;
				background-color: #fff;
			}
			.string { color: green; }
			.number { color: darkorange; }
			.boolean { color: blue; }
			.null { color: magenta; }
			.key { color: red; }

			pre {
				background-color: white;
				width:auto;
			}

			handcursor {
				cursor: pointer;cursor: hand;
			}
			.test
			{
				margin:10px 0;
				zoom:1;
			}
			.test:after
			{
				height:0;
				clear:both;
				content:"";
				visibility:hidden;
				display:block;
			}
			.text
			{
				width:300px;
				float:left;
				margin-right:10px;
				border:1px solid #F60;
				padding:10px;
				min-height:80px;
			}
			.text-del
			{
				text-decoration: line-through;
				color: #A82400;
				background-color: #E5BDB2;
			}
			.text-add
			{
				background: #D1E1AD;
				color: #405A04;
			}
		</style>

	</head>

	<body>
		<div id="wrapper">		 
			<div id="page-wrapper">
				<!-- /.row -->
				<div class="row">
					<!-- /.col-lg-12 -->					
					<div class="col-lg-12">
						<div class="panel panel-default">
							<div class="panel-heading" id="stat-detreport-heading">
								All Testcases
							</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-hover" id="dataTables-example" width="100%" style="width:100%;table-layout:fixed;word-wrap:break-word; ">
									<thead>
									<tr><th>Identifier</th><th>Method</th><th>Status</th><th>Time(ms)</th><th>TestCase</th></tr>
									</thead>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /#page-wrapper -->
		</div>
		<!-- /#wrapper -->

		<!-- Core Scripts - Include with every page -->
		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<!-- Page-Level Plugin Scripts - Flot -->
		<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
		<script src="js/plugins/flot/jquery.flot.js"></script>
		<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
		<script src="js/plugins/flot/jquery.flot.resize.js"></script>
		<script src="js/plugins/flot/jquery.flot.pie.js"></script>
		<script src="js/plugins/flot/jquery.flot.categories.js"></script>
		<script src="js/plugins/flot/jquery.flot.orderBars.js"></script>

		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/jquery.dataTables.min.js"></script>
		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/dataTables.buttons.min.js"></script>
		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/jszip.min.js"></script>
		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/pdfmake.min.js"></script>
		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/vfs_fonts.js"></script>
		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/buttons.html5.min.js"></script>
		<script type="text/javascript" language="javascript" src="js/plugins/dataTables/buttons.print.min.js"></script>
		<!--script src="js/plugins/dataTables/jquery.dataTables.js"></script>
		<script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
		<script type="text/javascript" src="js/plugins/dataTables/dataTables.tableTools.js"></script-->

		<script type="text/javascript" src="js/prettify.js"></script>
		<script type="text/javascript" src="js/vkbeautify.js"></script>
		<script type="text/javascript" src="js/gatf.js"></script>
		<script type="text/javascript" src="js/diff_match_patch.js"></script>
		<script type="text/javascript" src="js/jquery.blockUI.js"></script>
        <script type="text/javascript" src="js/jss.min.js"></script>
		<script>
			function rgb2hex(ele){
				rgb = $(ele).css('background-color').match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
				return ("#" +
					("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
					("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
					("0" + parseInt(rgb[3],10).toString(16)).slice(-2)).toLowerCase();
			}
			
			function darkMode(theme) {
				if (theme==="dark" || (theme!=="default" && rgb2hex($('#page-wrapper'))=="#ffffff")) {
					$('body').css('background-color', '#000000');
					$('body').css('color', '#ffffff');
					jss.set('input',{'color': 'white', 'background-color': '#333'});
					jss.set('select',{'color': 'white', 'background-color': '#333'});
					jss.set('#page-wrapper',{'color': '#ffffff', 'background-color': '#000000'});
					jss.set('.panel',{'color': 'white', 'background-color': '#000000', 'border': '1px solid #ddd'});
					jss.set('.panel-default',{'color': 'white', 'background-color': '#000000', 'border': '1px solid #ddd'});
					jss.set('.panel-default>.panel-heading',{'color': 'white', 'background-color': '#333', 'border': '1px solid #ddd'});
					$('table').find('td').css('background-color', '#000000');
					$('table').find('td').css('color', '#ffffff');
					jss.set('table th',{'color': 'white', 'background-color': '#333', 'border': '1px solid #ddd'});
					jss.set('table td',{'border': '1px solid #ddd'});
					$('pre').css('background-color', '#000000');
					$('pre').css('color', '#ffffff');
			    } else {
					jss.set('input',{'color': '#000000', 'background-color': '#ffffff'});
					jss.set('select',{'color': '#000000', 'background-color': '#ffffff'});
					$('body').css('background-color', '#ffffff');
					$('body').css('color', '#000000');
					jss.set('#page-wrapper',{'color': '#000000', 'background-color': '#ffffff'});
					jss.set('.panel',{'color': '#000000', 'background-color': '#ffffff', 'border': '1px solid #e0e0e0'});
					jss.set('.panel-default',{'color': '#000000', 'background-color': '#ffffff', 'border': '1px solid #e0e0e0'});
					jss.set('.panel-default>.panel-heading',{'color': '#000000', 'background-color': '#ddd', 'border': '1px solid #e0e0e0'});
					$('table').find('td').css('background-color', '#ffffff');
					$('table').find('td').css('color', '#000000');
					jss.set('table th',{'color': 'white', 'background-color': '#A7C942', 'border': '1px solid #98bf21'});
					jss.set('table td',{'border': '1px solid #98bf21'});
					$('pre').css('background-color', '#ffffff');
					$('pre').css('color', '#000000');
			    }
			}
			
			var testcaseReports = $testcaseReports;
			
			var compareStats = $compareStats;
			
			var userSimulation = $userSimulation;
			
			var compareEnabled = $compareEnabled;

			var isShowTable = true;
			
			var isShowTableTA = false;

			var isShowOthers = false;
			
			var isShowTAFrame = false;
			
			var currTheme = "default";
			$(document).ready(function() {
				currTheme = localStorage.getItem("theme");
				
				loadStats('All');
				var panelHeight =	$(dtdatatable).parent().height();
				window.parent.postMessage(["setHeight", panelHeight], "*");
				$('#dataTables-example_length select').change(function(){
					dtdatatable.fnDraw();
					darkMode(localStorage.getItem("theme"));
					var panelHeight = $(dtdatatable).parent().height();
					window.parent.postMessage(["setHeight", panelHeight], "*");
				});
				
				if(localStorage.getItem("theme")) {
					darkMode(localStorage.getItem("theme"));
				}
			});
			
		</script>
	</body>
</html>
