<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>GATF - Test Reports</title>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		
		<!-- Core Scripts - Include with every page -->
		<script src="../js/jquery-3.6.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../js/prettify.js"></script>
		<script type="text/javascript" src="../js/vkbeautify.js"></script>
        <script type="text/javascript" src="../js/jss.min.js"></script>
		
		<style>
			.flot-x-axis div.flot-tick-label { 
				/* Rotate Axis Labels */
				transform: translateX(50%) rotate(20deg); /* CSS3 */
				transform-origin: 0 0;
				
				-ms-transform: translateX(50%) rotate(20deg); /* IE */
				-ms-transform-origin: 0 0;

				-moz-transform: translateX(50%) rotate(20deg); /* Firefox */
				-moz-transform-origin: 0 0;

				-webkit-transform: translateX(50%) rotate(20deg); /* Safari and Chrome */
				-webkit-transform-origin: 0 0;

				-o-transform: translateX(50%) rotate(20deg); /* Opera */
				-o-transform-origin: 0 0;
			}

			#wrapper {
				width: 100%;
			}

			#page-wrapper {
				padding: 0 15px;
				min-height: 568px;
				background-color: #fff;
			}
			.string { color: green; }
			.number { color: darkorange; }
			.boolean { color: blue; }
			.null { color: magenta; }
			.key { color: red; }

			pre {
				background-color: white;
				width:auto;
			}

			handcursor {
				cursor: pointer;cursor: hand;
			}
			.test
			{
				margin:10px 0;
				zoom:1;
			}
			.test:after
			{
				height:0;
				clear:both;
				content:"";
				visibility:hidden;
				display:block;
			}
			.text
			{
				width:300px;
				float:left;
				margin-right:10px;
				border:1px solid #F60;
				padding:10px;
				min-height:80px;
			}
			.text-del
			{
				text-decoration: line-through;
				color: #A82400;
				background-color: #E5BDB2;
			}
			.text-add
			{
				background: #D1E1AD;
				color: #405A04;
			}
		</style>

	</head>

	<body>
		<div id="wrapper">		 
			<div id="page-wrapper">
				<div class="row">
					<h2>$succFail</h2>
					<div class="col-lg-12">
						<div class="col-lg-6">
							<h3>$selFileName</h3>
							<pre id="selcode_htm">$selCode</pre>
						</div>
						<div class="col-lg-6">
							<h3>$javaFileName</h3>
							<pre id="javacode_htm">$javaCode</pre>
						</div>
					</div>
					<hr/>
					<div class="col-lg-12">
						<h3>Selenium Logs</h3>
						<br/>
						#foreach ($selLogE in $selLogs.entrySet())
						<h4>$selLogE.key<h4>
						<pre>
#foreach ($selLogL in ${selLogE.value})
$StringEscapeUtils.escapeHtml(${selLogL.getMessage()})
#end
						</pre>
						#end
					</div>
				</div>
			</div>
		</div>

		<script>
			function rgb2hex(ele){
				rgb = $(ele).css('background-color').match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
				return ("#" +
					("0" + parseInt(rgb[1],10).toString(16)).slice(-2) +
					("0" + parseInt(rgb[2],10).toString(16)).slice(-2) +
					("0" + parseInt(rgb[3],10).toString(16)).slice(-2)).toLowerCase();
			}
			
			function darkMode(theme) {
				if (theme==="dark" || (theme!=="default" && rgb2hex($('#page-wrapper'))=="#ffffff")) {
					$('body').css('background-color', '#000000');
					$('body').css('color', '#ffffff');
					jss.set('input',{'color': 'white', 'background-color': '#333'});
					jss.set('select',{'color': 'white', 'background-color': '#333'});
					jss.set('#page-wrapper',{'color': '#ffffff', 'background-color': '#000000'});
					jss.set('.panel',{'color': 'white', 'background-color': '#000000', 'border': '1px solid #ddd'});
					jss.set('.panel-default',{'color': 'white', 'background-color': '#000000', 'border': '1px solid #ddd'});
					jss.set('.panel-default>.panel-heading',{'color': 'white', 'background-color': '#333', 'border': '1px solid #ddd'});
					$('table').find('td').css('background-color', '#000000');
					$('table').find('td').css('color', '#ffffff');
					jss.set('table th',{'color': 'white', 'background-color': '#333', 'border': '1px solid #ddd'});
					jss.set('table td',{'border': '1px solid #ddd'});
					$('pre').css('background-color', '#000000');
					$('pre').css('color', '#ffffff');
			    } else {
					jss.set('input',{'color': '#000000', 'background-color': '#ffffff'});
					jss.set('select',{'color': '#000000', 'background-color': '#ffffff'});
					$('body').css('background-color', '#ffffff');
					$('body').css('color', '#000000');
					jss.set('#page-wrapper',{'color': '#000000', 'background-color': '#ffffff'});
					jss.set('.panel',{'color': '#000000', 'background-color': '#ffffff', 'border': '1px solid #e0e0e0'});
					jss.set('.panel-default',{'color': '#000000', 'background-color': '#ffffff', 'border': '1px solid #e0e0e0'});
					jss.set('.panel-default>.panel-heading',{'color': '#000000', 'background-color': '#ddd', 'border': '1px solid #e0e0e0'});
					$('table').find('td').css('background-color', '#ffffff');
					$('table').find('td').css('color', '#000000');
					jss.set('table th',{'color': 'white', 'background-color': '#A7C942', 'border': '1px solid #98bf21'});
					jss.set('table td',{'border': '1px solid #98bf21'});
					$('pre').css('background-color', '#ffffff');
					$('pre').css('color', '#000000');
			    }
			}
			
			var currTheme = "default";
			$(document).ready(function() {
				currTheme = localStorage.getItem("theme");
				
				var lnk=document.createElement('link');
				lnk.href=currTheme=="default"?'../css/prettify.css':'../css/code-prettify-theme.css';
				lnk.rel='stylesheet';
				lnk.type='text/css';
				(document.head||document.documentElement).appendChild(lnk);

				$('#selcode_htm').html(prettyPrintOne($('#selcode_htm').html(),null,true));
				$('#javacode_htm').html(prettyPrintOne($('#javacode_htm').html(),null,true));
				
				if(localStorage.getItem("theme")) {
					darkMode(localStorage.getItem("theme"));
				}
			});
			
		</script>
	</body>
</html>
