<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>GATF - Test Reports</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">

		<!-- Page-Level Plugin CSS - Tables -->
		<link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
		<link href="css/plugins/dataTables/dataTables.tableTools.css" rel="stylesheet">
		
		
		<style>
			.flot-x-axis div.flot-tick-label { 
				/* Rotate Axis Labels */
				transform: translateX(50%) rotate(20deg); /* CSS3 */
				transform-origin: 0 0;
				
				-ms-transform: translateX(50%) rotate(20deg); /* IE */
				-ms-transform-origin: 0 0;

				-moz-transform: translateX(50%) rotate(20deg); /* Firefox */
				-moz-transform-origin: 0 0;

				-webkit-transform: translateX(50%) rotate(20deg); /* Safari and Chrome */
				-webkit-transform-origin: 0 0;

				-o-transform: translateX(50%) rotate(20deg); /* Opera */
				-o-transform-origin: 0 0;
			}

			#wrapper {
				width: 100%;
			}

			#page-wrapper {
				padding: 0 15px;
				min-height: 568px;
				background-color: #fff;
			}
			.string { color: green; }
			.number { color: darkorange; }
			.boolean { color: blue; }
			.null { color: magenta; }
			.key { color: red; }

			pre {
				background-color: white;
				width;auto;
			}

			handcursor {
				cursor: pointer;cursor: hand;
			}
			.test
			{
				margin:10px 0;
				zoom:1;
			}
			.test:after
			{
				height:0;
				clear:both;
				content:"";
				visibility:hidden;
				display:block;
			}
			.text
			{
				width:300px;
				float:left;
				margin-right:10px;
				border:1px solid #F60;
				padding:10px;
				min-height:80px;
			}
			.text-del
			{
				text-decoration: line-through;
				color: #A82400;
				background-color: #E5BDB2;
			}
			.text-add
			{
				background: #D1E1AD;
				color: #405A04;
			}
		</style>

	</head>

	<body>
		<div id="wrapper">		 
			<div id="page-wrapper">
				#foreach ($indx in $indexes.entrySet())
					<br/><br/>
					<div class="panel-heading">
						Selenium Test Summary - (Node: $indx.key)
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover" width="100%" style="width:100%;table-layout:fixed;word-wrap:break-word; ">
								<tbody>
					#foreach ($ind in $indx.value.entrySet())
										<tr><td><a href="$ind.value">Run - $ind.key</a></td></tr>
					#end
								</tbody>
							</table>
						</div>
					</div>
				#end
			</div>
		</div>


		<!-- Core Scripts - Include with every page -->
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<!-- Page-Level Plugin Scripts - Flot -->
		<!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
		<script src="js/plugins/flot/jquery.flot.js"></script>
		<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
		<script src="js/plugins/flot/jquery.flot.resize.js"></script>
		<script src="js/plugins/flot/jquery.flot.pie.js"></script>
		<script src="js/plugins/flot/jquery.flot.categories.js"></script>
		<script src="js/plugins/flot/jquery.flot.orderBars.js"></script>

		<script src="js/plugins/dataTables/jquery.dataTables.js"></script>
		<script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>
		<script type="text/javascript" src="js/plugins/dataTables/dataTables.tableTools.js"></script>

		<script type="text/javascript" src="js/prettify.js"></script>
		<script type="text/javascript" src="js/vkbeautify.js"></script>
		<link href="css/prettify.css" rel="stylesheet">
		<script type="text/javascript" src="js/diff_match_patch.js"></script>
		
		<script>
			$(document).ready(function() {
				if((document.location+"").indexOf("http")==0) {
					$('#page-wrapper').html('<br/><br/> \
						<div class="row"> \
							<div class="col-lg-2 text-center">Time <span class="badge" id="t_time"></span></div> \
							<div class="col-lg-2 text-center">TOTAL <span class="badge progress-bar-info filter" data-filter="total" id="t_count"></span></div> \
							<div class="col-lg-2 text-center">SUCCESS <span class="badge progress-bar-success filter" data-filter="success" id="s_count" \></span></div> \
							<div class="col-lg-2 text-center">FAILED <span class="badge progress-bar-danger filter" data-filter="failed" id="e_count"></span></div> \
							<div class="col-lg-2 text-center">UNKNOWN <span class="badge progress-bar-warning filter" data-filter="unknown" id="u_count"></span></div></div> \
						<div class="row">&nbsp;</div> \
						<div class="row"> \
							<div class="col-lg-2 text-center"> \
								<select id="n_filter" style="width:90%"></select> \
							</div> \
							<div class="col-lg-2 text-center"> \
								<select id="e_filter" style="width:90%"></select> \
							</div> \
						</div> \
						<br/><br/>');
					#set($cnt = 0)
					#foreach ($indx in $indexes.entrySet())
						#foreach ($ind in $indx.value.entrySet())
							#set($cnt = $cnt + 1)
						#end
					#end
					var done = $cnt;
					#foreach ($indx in $indexes.entrySet())
						#set($cnt = 0)
						#foreach ($ind in $indx.value.entrySet())
							$.get('$ind.value', function(d) {
								d = $(d);
								for(var i=0;i<d.length;i++) {
									if(d[i].id==="wrapper") {
										var node = $('#'+$(d[i]).find('.col-lg-12>div>div').attr('data-node'));
										var run = $(d[i]).find('.col-lg-12>div>div.panel-body');
										run.attr('style', 'padding-bottom:0px !important;');
										if(node.length>0) {
											node.find('>div.panel-default').append(run);
										} else {
											$(d[i]).find('.col-lg-12').attr('id', $(d[i]).find('.col-lg-12>div>div').attr('data-node'));
											$('#page-wrapper').append($(d[i]).find('.col-lg-12'));
										}
										done--;
										if(done==0) {
											initReport($('#page-wrapper'));
										}
									}
								}
							});
							#set($cnt = $cnt + 1)
						#end
					#end
				}
				
				function initReport(mainnode) {
					function initialize(pnode) {
						if(!pnode)pnode = mainnode;
						var errmap = {};
						var counter = 1;
						var tottime = 0;
						pnode.find('.testresult').each(function(){
							var err = $($(this).find('td')[3]).html();
							if(!err) {
								err = "";
							}
							if(err.length>100) {
								err = err.substring(0, 100);
							}
							if(!errmap[err]) {
								errmap[err] = counter++;
							}
							$(this).addClass("error_"+errmap[err]);
						});
						var stats = getStats(pnode, "total");
						
						mainnode.find('#t_time').html(stats[4]+"s");
						
						mainnode.find('#e_filter').html('');
						for(var k in errmap) {
							if(errmap.hasOwnProperty(k) && k && k.trim()!="") {
								mainnode.find('#e_filter').append('<option value="error_'+errmap[k]+'">'+k+'</option>');
							}
						}				
						
						mainnode.find('#e_filter').on('change', function(){
							var cls = $(this).val();
							pnode.find('.testresult').hide();
							pnode.find('.'+cls).show();
						});
					
						var s = stats[0];
						var e = stats[1];
						var u = stats[2];
						var t = stats[3];
						mainnode.find('#s_count').html(s);
						mainnode.find('#e_count').html(e);
						mainnode.find('#u_count').html(u);
						mainnode.find('#t_count').html(t);
						
						pnode.find('.filter').on('click', function() {
							var filt = $(this).attr('data-filter');
							if(filt=="total") {
								pnode.find('.testresult').show();
							} else if(filt=="success") {
								pnode.find('.testresult').hide();
								pnode.find('.SUCCESS').show();
							} else if(filt=="failed") {
								pnode.find('.testresult').hide();
								pnode.find('.FAILED').show();
							} else if(filt=="unknown") {
								pnode.find('.testresult').hide();
								pnode.find('.UNKNOWN').show();
							}
							initCounts(filt);
						});						
					}
					
					function initCounts(filt) {
						mainnode.find('.node').each(function() {
							var pnode = $(this).parent();
							var stats = getStats(pnode, filt);
							var avg = stats[4]/$(this).next().children().length;
							pnode.find('span')[1].innerHTML = stats[0];
							pnode.find('span')[2].innerHTML = stats[1];
							pnode.find('span')[3].innerHTML = stats[2];
							pnode.find('span')[0].innerHTML = avg;
						});
						mainnode.find('.nodehdr').each(function(){
							var pnode = $(this).parent();
							var stats = getStats(pnode, filt);
							pnode.find('span')[1].innerHTML = stats[0];
							pnode.find('span')[2].innerHTML = stats[1];
							pnode.find('span')[3].innerHTML = stats[2];
							pnode.find('span')[0].innerHTML = stats[4];
						});
					}
					
					function getStats(pnode, filt) {
						var s = pnode.find('.SUCCESS').length;
						var e = pnode.find('.FAILED').length;
						var u = pnode.find('.UNKNOWN').length;
						var tottime = 0;
						pnode.find('.testresult').each(function(){
							if($(this).find('td>a').html()=="-") {
								var tim = $($(this).find('td')[2]).html();
								tim = tim.substring(0, tim.length-1);
								tottime += tim*1;
							}
						});
						var t = s + e + u;
						return [(filt=="total" || filt=="success")?s:0,
								(filt=="total" || filt=="failed")?e:0,
								(filt=="total" || filt=="unknown")?u:0,
								t,
								tottime.toFixed(3)];
					}
					
					initialize(mainnode);
					mainnode.find('#n_filter').append('<option value="">ALL</option>');
					mainnode.find('.node').each(function() {
						mainnode.find('#n_filter').append('<option value="'+$(this).attr('data-node')+'">'+$(this).attr('data-node')+'</option>');
					});								
					mainnode.find('.nodehdr').on('click', function(){
						if($(this).next().is(':visible')) {
							$(this).next().addClass('hidden');
						} else {
							$(this).next().removeClass('hidden');
						}
					});
					mainnode.find('#n_filter').on('change', function(){
						var v = $(this).val();
						var pnode;
						mainnode.find('.node').each(function() {
							if(v=="") {
								$(this).parent().show();
							} else if($(this).attr('data-node')!=v) {
								$(this).parent().hide();
							} else {
								pnode = $(this).parent();
								$(this).parent().show();
							}
						});
						initialize(pnode);
					});
					initCounts("total");
					
					$('.col-lg-12').each(function() {
						if($(this).attr('id')) {
							var runs = $(this).find('>div>div.panel-body');
							var counter = 1;
							runs.each(function() {
								$(this).find('.nodehdr>b').html($(this).find('.nodehdr>b').text().replace(/Run - [0-9]+/, 'Run - ' + (counter++)));
							});
						}
					});
				}
			});
		</script>
		
	</body>
</html>
